#footer{
  font-family:Arial;
  font-size:12px;
  margin-top:23px;
  border-bottom:0px;
  line-height:16px;
  margin-bottom:20px;
  article{
    float:left;
    width:226px;
    margin-right:48px;
    
     a{
      text-decoration:none;
      color:#000;
    }
  }
  
  .acknowledge{
    float:right;
    margin-right:0px;
    
    
  }
  
  .terms{

    a:nth-child(2n+1){
      display:inline-block;
      margin-right:10px;
    }
    
    a:nth-child(2n){
      display:inline-block;
      margin-left:10px;      
    }
    
  }
}
