#services{
  padding-bottom:53px;
  .service-list{
    ul{
      width:253px;
      float:left;
      margin-right:45px;
      li{
        
        margin-bottom:8px;
        
        img{
          float:left;
          margin-right:5px;
        }
        span{
          font-size:13px;
          font-family:Arial;
          font-weight:bold;
          font-style:italic;
          padding-top:9px;
          display:block;
          float:left;
          width:214px;
          line-height:19px;
        }
      }
    }
    
    ul:last-of-type{
      margin-right:0px;
    }
  }
}
